@import "./variables";

@mixin inputStyles {
  border-radius: $inputBorderRadius;
  border: 3px solid $darkBlueColor;
  transition: border $transitionTime;
  padding: $inputPadding;
  border-radius: $inputBorderRadius;
  width: 100%;
  &:focus {
    border: 3px solid $lightBlueColor;
  }
}

@mixin errorMixin {
  border: 3px solid $redColor;
  &:focus {
    border: 3px solid $redColor;
  }
}
