$fontSize: 1.3rem;
$titleSize: 2rem;

$whiteColor: #ffffff;
$darkBlueColor: #2b6777;
$lightBlueColor: #c8d8e4;
$greenColor: #52ab98;
$blackColor: #000000;
$redColor: #ff0000;

$cardShadow: 1px 0px 9px 0px rgb(0, 0, 0);
$overlayColor: rgba(255, 255, 255, 0.7);

$formBorderRadius: 10px;
$inputBorderRadius: 10px;

$inputPadding: 5px;

$transitionTime: 0.5s;
