@import "../../style/theme/variables";
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80px;
  &__error {
    color: $redColor;
    font-size: 1rem;
  }
}
