@import "../../style/theme/variables";

.button {
  background-color: $whiteColor;
  border-radius: $inputBorderRadius;
  padding: $inputPadding;
  transition: all $transitionTime;
  font-style: $fontSize;
  font-weight: 700;
  height: 50px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $lightBlueColor;
  }
}
